<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_Snake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Project_Snake.Properties.Settings>
            <setting name="Backup1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Backup2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slider" serializeAs="String">
                <value>10</value>
            </setting>
        </Project_Snake.Properties.Settings>
    </userSettings>
</configuration>